/* Header */
.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__logo::after {
  content: "";
  background: linear-gradient(
    135deg,
    var(--foreground) 0%,
    var(--foreground) calc(100% - 40px),
    var(--red) calc(100% - 40px),
    var(--red) calc(100% - 30px),
    var(--yellow) calc(100% - 30px),
    var(--yellow) calc(100% - 20px),
    var(--green) calc(100% - 20px),
    var(--green) calc(100% - 10px),
    var(--cyan) calc(100% - 10px),
    var(--cyan) 100%
  );
  display: block;
  width: 100%;
  height: 35px;
}

.header__logo a {
  flex: none;
  max-width: 100%;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--black);
  color: var(--background);
  font-weight: 700;
  padding: 5px 10px;
  line-height: 25px;
}

/* Responsive */
@media (max-width: 684px) {
  .header__inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .header__logo {
    margin-bottom: 0;
    flex: 1;
  }
  
  .header__logo::after {
    display: block;
    width: auto;
    flex: 1;
    margin-right: 10px;
  }
}