---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="eigengrouse">  
  <div class="index-content framed">
    <h1 style="margin:0px"><img src="/eigengrouse50.png" width="50px" style="display:inline;border:none;vertical-align:middle;margin:0px;padding:0px" /> Hello there!</h1>
    <p>Welcome to my website. This is where I will host my personal projects and aim to share and collaborate with like-minded programmers. Vintage, retro or anything related to classic computer science.</p>
  </div>
</BaseLayout>
