<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/eigengrouse.png" />
		<meta name="generator" content={Astro.generator} />
		<title>eigengrouse.com</title>
	</head>
	<body>
		<p><a href="/">eigengrouse.com</a></p>
		<slot />
		<br />
	</body>
</html>

<style is:global>
	html,
	body {
		padding: 0px 5px;
		width: 90%;
		height: 100%;
		font-family: Lato, Lato, LatoExtended, sans-serif;
		color: #fff;
		background-color: #2d2d2d;
	}
	a {
		color:rgb(179, 199, 255);
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
</style>
